# Convert list to array to series to dataframe

In [19]:
import numpy as np
import pandas as pd

Age= [34, 30, 6]
Name= ['Swapnil', 'Pooja', 'Gargi']

print(Age)
print(Name)


print('..................................................')
age_array= np.array(Age)
name_array= np.array(Name)

print(age_array)
print(name_array)


print('..................................................')

age_series= pd.Series(age_array)
name_series= pd.Series(name_array)

print(age_series)
print(name_series)

print('..................................................')

df_final= pd.DataFrame()
df_final['Age']= age_series
df_final['Name']= name_series

df_final

[34, 30, 6]
['Swapnil', 'Pooja', 'Gargi']
..................................................
[34 30  6]
['Swapnil' 'Pooja' 'Gargi']
..................................................
0    34
1    30
2     6
dtype: int32
0    Swapnil
1      Pooja
2      Gargi
dtype: object
..................................................

   Age     Name
0   34  Swapnil
1   30    Pooja
2    6    Gargi